################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/Loopback/v15/Server/sqlite3
/src/bin
/src/obj
